body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.logo{
    margin-left: 165px;
}

.box{
    color: white;
    background-color: rgb(13, 66, 48);
    width: 1000px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    align-items:center;
    margin-left: 160px;
    padding: 3px;
}

.box2{
    margin-left: 160px;
    width: 1000px;
}

.image{
    background-color: rgb(235, 235, 235);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    height: 420px;
    flex-direction: column;
}

.flex-container{
    display: flex;
    padding: 50px;
    margin: 4px;
    background-color: rgb(13, 66, 48);
    border-top: 5px double rgb(153, 255, 199);
    color: white;
    justify-content: space-between;
}

hr{
    border: solid 0.5px  rgb(23, 235, 164);
    align-items: space-evenly;
}